
.vs/slnx.sqlite
.vs/IT6041Web/v16/.suo
.vs/VSWorkspaceState.json
IT6041Project/__pycache__/settings.cpython-38.pyc
IT6041Project/__pycache__/urls.cpython-38.pyc
IT6041Project/__pycache__/urls.cpython-38.pyc
IT6041Project/__pycache__/settings.cpython-38.pyc
