/* GLOBAL STYLES
-------------------------------------------------- */


/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 1200px) {
 .card, .thumbnail, .box-element {
   width: 300px;
  }
}

@media screen and (max-width: 980px) {
 .card, .thumbnail {
   width: 220px;
  }

  .box-element {
    height: 23vw;
    width: 23vw;
  }

    h4 {
    padding: 15px 21px;
  }
}

@media screen and (max-width: 800px) {
 .card, .thumbnail, .box-element {
   width: 100%;
  }

  .box-element {
    height: 30vw;

  }

  h6 {
    font-size: 15px;
  }

  button, a {
    width: 100%;
  }

  .container img {
    height: 250px;
    width: 300;
  }

 }


@media only screen and (max-width: 620px) {
  #myCarousel, .carousel-item{
    margin-top: 15px;
    width: 100%;
  }
}

/* Padding below the footer and lighter body text */

body {
  padding-top: 65px;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-color: #f0f0f0;
}

body h1 {
  font-family: Roboto;
    text-align: center;
}

/* Top Navbar styling */
.bg-dark {
    background-color: #5ed100!important;
}

/* Nav Bar styling */


.topnav {
  position: relative;
  overflow: hidden;
  background-color: white;
  height: 150px;
}

.topnav a {
  float: left;
  color: #737373;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f0f0f0;
  color: #737375;
}

.topnav a.active {
  background-color: white;
  color: #737373;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-left a {
  float: left;
  color: #737373;
}

.topnav-right {
  float: right;
  padding-top: 35px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  color: #737373;
}

/* Declare heights because of positioning of img element */
.carousel slide {
  background-color: #ffc600;
}

.carousel-indicators li{
  background-color: #737373;
}

.carousel-item {
  height: 40rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 36rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.card {
  line-height: 1.5;
  background-color: #fff;
}

.container marketing {
  margin-left: 0rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  margin-left: 0.5rem;

}
.marketing h2 {
  font: Roboto;
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.container {
  text-align: left;
}

.box-element {
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

.box-element-product {

}

.thumbnail{
	width: 100%;
	height: 250px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.col-lg-3, .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}



.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;


}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 10px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

#total-cost {
  text-align: center;
}

.total-row {
  padding-right: 50px;
}


/* cart icon */

#cart-icon {
  width: 30px;
  height: 30px;
  display: inline-block;

 }

#cart-total {
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #ac7c00;
  width: 20px;
  height: 25px;
  border-radius: 75%;
  font-size: 17px;
  margin-right: 25px;
}
