{% extends "IT6041App/base.html" %}

{% load static %}

{% block content %}
    <br><br>

    <style>

        .row {
          padding-left: 8px;
        }

        h2 {
            display: block;
            text-align: center;
            padding-left: 8px;
        }

        .thumbnail {
          height: 250px;
          width: 352;
        }

        .box-element {
          height: 200px
          width: 352px;
        }

        .form-control {
          height: 50px;
        }

        .card {
          height: 365px;
        }
    </style>

    <main class="container">

      <h3>Search by Catergory</h3>
      <form method="GET" action=".">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="select-group">
                    <select class="form-control py-2 border-right-0 border" type="search" name="category_contains" />
                        <option>Select Category...</option>
                        <option>Accessories</option>
                        <option>Cleaning Products</option>
                        <option>Clothing</option>
                        <option>Furniture</option>
                        <option>Gardening</option>
                    </select>
                    <span class="select-group-append"></span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Search</button>
      </form>
        <br><br>
        <div class="row">
          <h2>Enjoy all our products here</h2>
          <br><br><br>
          <div class="row">
              {% for i in queryset %}
                    <div class="col-sm-4">
                        <div class="card">
                            <img class="thumbnail"  src="{{ i.image.url }}">
                            <div class="box-element product">
                                <h6><strong>{{ i.product_name }}</strong></h6>
                                <hr>
                                <button data-product="{{ i.id }}" data-action="add"  class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                                <button data-product="{{ i.id }}" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#productmodal">View</button>
                                <h4 style="display: inline-block; float: right">${{ i.price }}</h4>

                                <!-- Modal -->
                                <div class="modal fade" id="productmodal" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="productmodalTitle">{{ i.product_name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <img class="thumbnail"  src="{{ i.image.url }}">
                                        <p><strong>{{ i.description }}</strong></p>
                                        <h4 style="display: inline-block; float: right">${{ i.price }}</h4>
                                      </div>
                                      <div class="modal-footer">
                                        <button data-product="{{ i.id }}" data-action="add"  class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
              {% endfor %}
          </div>
        </div>
    </main>
    <br><br><br>
{% endblock content %}
