{% extends "IT6041App/base.html" %}

{% load static %}

{% block content %}
    <br><br>

    <style>

        .row {
          padding-left: 8px;
        }

        h2 {
            display: block;
            text-align: center;
            padding-left: 8px;
        }

        .thumbnail {
          height: 250px;
          width: 352;
        }

        .box-element {
          width: 352px;
        }

        .form-control {
          height: 50px;
        }
    </style>

    <script>
         if (sessionStorage.getItem("Page2Visited")) {
              sessionStorage.removeItem("Page2Visited");
              window.location.reload(true); // force refresh page1
         }
    </script>

    <br><br><br>
    <main class="container">

      <h3>Search by Catergory</h3>
      <form method="GET" action=".">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="select-group">
                    <select class="form-control py-2 border-right-0 border" type="search" name="category_contains" />
                        <option>Select Category...</option>
                        <option>Accessories</option>
                        <option>Cleaning Products</option>
                        <option>Clothing</option>
                        <option>Furniture</option>
                        <option>Gardening</option>
                    </select>
                    <span class="select-group-append"></span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Search</button>
      </form>
        <br><br>
        <div class="row">
          <h4>Enjoy all our products here</h4>
          <br><br><br>
          <div class="row">
            <!-- looping through all products in queryset to render all products  -->
              {% for i in queryset %}
                    <div class="col-lg-4">
                        <div class="card">
                            <img class="thumbnail"  src="{{ i.image.url }}">
                            <div class="box-element product">
                                <h6><strong>{{ i.product_name }}</strong></h6>
                                <hr>
                                <button data-product="{{ i.id }}" data-action="add"  class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                                 <a class="btn btn-outline-success" href=" {% url 'product_details' i.id %}">View</a>
                                <h4 style="display: inline-block; float: right">${{ i.price }}</h4>
                            </div>
                        </div>
                        <br>
                    </div>
              {% endfor %}
          </div>
        </div>
    </main>
    <br><br><br>
{% endblock content %}
