{% extends "IT6041App/base.html" %}

{% load static %}

{% block content %}
    <br><br>

    <style>

            h2 {
            display: block;
            text-align: center;
        }


        .thumbnail {
          height: 250px;
          width: 355px;
        }

        .box-element {
          width: 357px;
        }
    </style>
    <h2>Clothing</h2>

    <br>
    <main class="container">
        <div class="row">
          <h4>Enjoy our clothing range here</h4>
          <br><br><br>
          <div class="row">
              {% for i in products %}
                    <div class="col-sm-4">
                        <div class="card">
                            <img class="thumbnail"  src="{{ i.image.url }}">
                            <div class="box-element product">
                                <h6><strong>{{ i.product_name }}</strong></h6>
                                <hr>
                                <button data-product="{{ i.id }}" data-action="add"  class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                                <button data-product="{{ i.id }}" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#productmodal">View</button>
                                <h4 style="display: inline-block; float: right">${{ i.price }}</h4>

                                <!-- Modal -->
                                <div class="modal fade" id="productmodal" tabindex="-1" role="dialog" aria-labelledby="productmodalTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="productmodalTitle">{{ i.product_name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <img class="thumbnail"  src="{{ i.image.url }}">
                                        <p><strong>{{ i.description }}</strong></p>
                                        <h4 style="display: inline-block; float: right">${{ i.price }}</h4>
                                      </div>
                                      <div class="modal-footer">
                                        <button data-product="{{ i.id }}" data-action="add"  class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
              {% endfor %}
          </div>
        </div>
    </main>
    <br><br><br>
{% endblock content %}
