{% extends "IT6041App/base.html" %}

{% load static %}

{% block content %}

<style>
    .carousel-control-next-icon, .carousel-control-prev-icon {
      color: #737373;
    }

    /* Responsive navigation menu (for mobile devices) */
    @media screen and (max-width: 600px) {
      img {
        width: 350px;
        height: 350px;
        padding-top: 30px;

      }
    }
</style>

<script>
     if (sessionStorage.getItem("Page2Visited")) {
          sessionStorage.removeItem("Page2Visited");
          window.location.reload(true); // force refresh page1
     }
</script>
 <!-- Setup of main carousel -->
<main role="main">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       {% for counter in carousel %}
      <li data-target="#myCarousel" data-slide-to="{{ counter }}"></li>
       {% endfor %}
    </ol>
     <!-- first carousel item is hardcoded   -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="white"/></svg>
        <div class="container">
          <div class="carousel-caption text-center">
            <a href="#">
              <img src="/media/GreenWorldLogo.png" alt="GreenWorld Logo"  width="400" height="400">
            </a><br>
            <h4>Welcome to GreenWorlds Ecommerce </h4>
          </div>
        </div>
      </div>
      <!-- rest of carousel items are based on boolean value of 'carousel_listing  -->
      {% for listing in carousel %}
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="white"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <a href="#">
              <img src="{{ listing.image.url }}" alt="{{ listing.product_name }}"  width="550" height="400">
            </a><br>
            <h4>{{ listing.product_name }}</h4>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- unseen links to go to next / previous carousel item -->
     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</main>
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <h2>Popular Categories</h2>
    <br>

     <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Clothing</h5>
                <p class="card-text">Check out our range sustainable clothing items. This will bring up a listview of clothing products</p>
                <a href="{% url 'clothing' %}" class="btn btn-success">Go Now!</a>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Furniture</h5>
                <p class="card-text">Check out our range sustainable furniture items.This will bring up a listview of furniture products</p>
                <a href="{% url 'furniture' %}" class="btn btn-success">Go Now!</a>
              </div>
            </div>
          </div>

         <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">All</h5>
                <p class="card-text">Check out all our sustainable products that will help you in your journey. This will bring up a list of all products</p>
                <a href="{% url 'allproducts' %}" class="btn btn-success">Go Now!</a>
              </div>
            </div>
         </div>
     </div>
  <br><br>

    <h2>Popular Picks</h2>
    <br>

      <div class="row">
          <!-- looping through all products with boolean value 'popular' set to True  -->
          {% for i in products %}
                <div class="col-sm-4">
                    <div class="card">
                        <img class="thumbnail"  src="{{ i.image.url }}">
                        <div class="box-element product">
                            <h6><strong>{{ i.product_name }}</strong></h6>
                            <hr>
                            <button data-product="{{ i.id }}" data-action="add"  class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                            <a class="btn btn-outline-success" href=" {% url 'product_details' i.id %}">View</a>
                            <h4 style="display: inline-block; float: right">${{ i.price }}</h4>
                        </div>
                    </div>
                    <br>
                </div>
          {% endfor %}
      </div>

    <br><br><br>
{% endblock content %}

