{% extends "IT6041App/base.html" %}

{% load static %}

{% block content %}

<style>

.privacy {
    text-align: left;
    display: block;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-left: 375px;
}

h5 {
 text-align: center;
}

/* the following is the new code for the queries*/
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .privacy {
    text-align: left;
    display: block;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-left; 75px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .privacy {
    text-align: left;
    display: block;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-left; 75px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .privacy {
    text-align: left;
    display: block;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-left; 175px;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1999.98px) {
  .privacy {
    text-align: left;
    display: block;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-left; 275px;
  }
}
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width



</style>
<br><br><br>
 <!-- Privacy Policy   -->
<div class="privacy">
    <div class="row">
        <div class="col">
            <div>
                <h5>Website Privacy Policy for GreenWorld's Limited</h5>
            <br><br>
                <p>
                  Protecting your personal information is important to us. So is following New Zealand’s privacy laws.
                  This Privacy Policy tells you how we will protect your privacy and collect and use your personal
                  information (any reference to “we”, “us” or “our” is to EcoTech Limited) Our Privacy Policy applies to
                  anyone who uses this Website (greenworldEcommerce.com) (Website).<br>

                  <strong>“Personal Information”</strong> means any information that can directly or indirectly identify you or another
                  person.
                  <br><hr><br>
                  <strong>YOUR RIGHTS</strong>
                  If you don’t agree with our Privacy Policy or don’t want us to collect your Personal Information, then you
                  shouldn’t use our Website. If you change your mind and don’t agree with our Privacy Policy anymore,
                  then you should stop using our Website. If you have any questions, you can contact our Privacy Officer
                  at helpdesk@greenworlds.com.
                  We’ll only use your Personal Information for the reasons that we collected it. If we don’t need your
                  Personal Information anymore for those reasons, then we’ll stop using it.
                  <br><hr><br>
                  <strong>
                      INFORMATION WE COLLECT ABOUT YOU
                  </strong>
                  <br><br>
                  <ul>
                      <li>Your name, contact details and IP address.</li>
                      <li>Feedback you give us and your responses to our customer surveys.</li>
                      <li>Any other information you give us.</li>
                  </ul>
                  <br>
                  Please don’t give us Personal Information about someone else unless you have their permission and they
                  now about this Privacy Policy.
                  <br><hr><br>
                  <strong>
                      HOW WE COLLECT YOUR INFORMATION
                  </strong>
                  <br><br>
                  <ul>
                      <li>From you directly (like when you provide your details to us).</li>
                      <li>From you indirectly (like when you interact with us on social media).</li>
                      <li>From other people (like contractors and agents that work for us). </li>
                      <li>From places where the information is publicly available.</li>
                  </ul>
                  <br><hr><br>
                  <strong>
                      WHY WE USE AND SHARE YOUR INFORMATION
                  </strong>
                  <br><br>
                  <ul>
                      <li>To help you use our Website.</li>
                      <li>To respond to your questions and to tell you more about us.</li>
                      <li>To operate and maintain our Website.</li>
                      <li>For our internal records.</li>
                      <li>To comply with our legal obligations.</li>
                      <li>For any other purposes that you authorise.</li>
                  </ul>
                  <br>
                    Sometimes we might share your Personal Information with our contractors and agents to help do these things,
                    but we won’t share your Personal Information with anyone else, unless the law requires us to.
                    <br><hr><br>
                    <strong> HOW WE PROTECT YOUR INFORMATION </strong>
                    <br>
                    We have reasonable protections in place against unauthorised access, use, modification, disclosure and loss of your
                    Personal Information.
                    <br><hr><br>
                    <strong> SEEING OR CORRECTING YOUR INFORMATION </strong>
                    <br>
                    You’re allowed to see what Personal Information we have about you, and you can ask us to correct it if you think it’s
                    wrong. If there is a legal reason why we can’t let you see it, or if we don’t agree with your correction,
                    then we’ll tell you.
                    <br><hr><br>
                    <strong> PRIVACY COMPLAINTS </strong>
                    <br>
                    If you think that we haven’t properly protected your privacy, you can tell our Privacy Officer here
                    (helpdesk@ecotech.com), or complain to the New Zealand Privacy Commissioner.
                    <br><hr><br>
                    <strong> PRIVACY POLICY CHANGES </strong>
                    <br>
                    If we change our Privacy Policy, then we will tell you about it on our Website. The changes will apply 14 days after
                    we post them. If you don’t agree with the changes, you should stop using our Website. If you keep using our
                    Website, then this will indicate that you have agreed to our changes.
                </p>
            </div>
        </div>
    </div>
</div>


<br><br><br>
{% endblock%}